openapi: 3.0.3
info:
  description: |
    <div dir="rtl" style="text-align: right;">

    # مستندات فروشندگان در سرویس خرید با دیجی‌کالا

    این پلتفرم برای فروشندگان (مرچنت‌ها) جهت یکپارچه‌سازی خدمات پرداخت و تجارت الکترونیکی با سیستم خرید با دیجی‌کالا.
    شامل مدیریت سفارشات، ارسال، و احراز هویت فروشندگان است.


    <div dir="rtl" style="text-align: right;">

    <!-- ## توضیح وضعیت‌های سفارش

    ### ۱. INITIAL — ایجاد اولیه سفارش

    **معنا:** سفارش توسط بک‌اند مرچنت ساخته شده ولی هنوز هیچ کاربری به آن اختصاص داده نشده است.

    **چگونه اتفاق می‌افتد:** مرچنت با ارسال درخواست `POST /api/v1/orders/create` و ارائه اطلاعات کالاها، مبلغ و `callback_url`، یک سفارش جدید ایجاد می‌کند. BWDK یک `order_uuid` منحصربه‌فرد و لینک شروع سفارش (`order_start_url`) برمی‌گرداند.

    **وابستگی‌ها:** نیازی به کاربر یا پرداخت ندارد. فقط اطلاعات کالا از سمت مرچنت کافی است.

    ---

    ### ۲. STARTED — آغاز جریان خرید

    **معنا:** مشتری روی لینک شروع سفارش کلیک کرده و وارد محیط BWDK شده است، اما هنوز لاگین نکرده.

    **چگونه اتفاق می‌افتد:** وقتی مشتری به `order_start_url` هدایت می‌شود، BWDK وضعیت سفارش را از `INITIAL` به `STARTED` تغییر می‌دهد. در این مرحله فرآیند احراز هویت (SSO) آغاز می‌شود.

    **وابستگی‌ها:** مشتری باید به لینک شروع هدایت شده باشد.

    ---

    ### ۳. PENDING — انتظار برای تکمیل سفارش

    **معنا:** مشتری با موفقیت وارد سیستم شده و سفارش به حساب او اختصاص یافته. مشتری در حال انتخاب آدرس، روش ارسال، بسته‌بندی یا تخفیف است.

    **چگونه اتفاق می‌افتد:** پس از تکمیل ورود به سیستم (SSO)، BWDK سفارش را به کاربر وصل کرده و وضعیت را به `PENDING` تغییر می‌دهد.

    **وابستگی‌ها:** ورود موفق کاربر به سیستم (SSO). در این مرحله مشتری می‌تواند آدرس، شیپینگ، پکینگ و تخفیف را انتخاب کند.

    ---

    ### ۴. WAITING_FOR_GATEWAY — انتظار برای پرداخت

    **معنا:** مشتری اطلاعات سفارش را تأیید کرده و به درگاه پرداخت هدایت شده است.

    **چگونه اتفاق می‌افتد:** مشتری دکمه «پرداخت» را می‌زند (`POST /api/v1/orders/submit`)، سیستم یک رکورد پرداخت ایجاد می‌کند و کاربر به درگاه Digipay هدایت می‌شود. وضعیت سفارش به `WAITING_FOR_GATEWAY` تغییر می‌کند.

    **وابستگی‌ها:** انتخاب آدرس، روش ارسال و بسته‌بندی الزامی است. پرداخت باید ایجاد شده باشد.

    ---

    ### ۷. PAID_BY_USER — پرداخت موفق

    **معنا:** تراکنش پرداخت با موفقیت انجام شده و وجه از حساب مشتری کسر شده است.

    **چگونه اتفاق می‌افتد:** درگاه پرداخت نتیجه موفق را به BWDK اطلاع می‌دهد. سیستم پرداخت را تأیید و وضعیت سفارش را به `PAID_BY_USER` تغییر می‌دهد. در این لحظه مشتری به `callback_url` مرچنت هدایت می‌شود.

    **وابستگی‌ها:** تأیید موفق تراکنش از سوی درگاه پرداخت (Digipay).

    ---

    ### ۹. VERIFIED_BY_MERCHANT — تأیید توسط مرچنت

    **معنا:** مرچنت سفارش را بررسی کرده و موجودی کالا و صحت اطلاعات را تأیید نموده است. سفارش آماده ارسال است.

    **چگونه اتفاق می‌افتد:** مرچنت با ارسال درخواست `POST /api/v1/orders/manager/{uuid}/verify` سفارش را تأیید می‌کند. این مرحله **اجباری** است و باید پس از پرداخت موفق انجام شود.

    **وابستگی‌ها:** سفارش باید در وضعیت `PAID_BY_USER` باشد. مرچنت باید موجودی کالا را بررسی کند.

    ---

    ### ۲۰. SHIPPED — ارسال شد

    **معنا:** سفارش از انبار خارج شده و در حال ارسال به مشتری است.

    **چگونه اتفاق می‌افتد:** مرچنت پس از ارسال کالا، وضعیت سفارش را از طریق API به `SHIPPED` تغییر می‌دهد.

    **وابستگی‌ها:** سفارش باید در وضعیت `VERIFIED_BY_MERCHANT` باشد.

    ---

    ### ۱۹. DELIVERED — تحویل داده شد

    **معنا:** سفارش به دست مشتری رسیده و فرآیند خرید به پایان رسیده است.

    **چگونه اتفاق می‌افتد:** مرچنت پس از تحویل موفق، وضعیت را به `DELIVERED` تغییر می‌دهد.

    **وابستگی‌ها:** سفارش باید در وضعیت `SHIPPED` باشد.

    ---

    ### ۵. EXPIRED — منقضی شد

    **معنا:** زمان رزرو سفارش به پایان رسیده و سفارش به صورت خودکار لغو شده است.

    **چگونه اتفاق می‌افتد:** یک Task دوره‌ای به طور خودکار سفارش‌هایی که `reservation_expired_at` آن‌ها گذشته را پیدا کرده و وضعیتشان را به `EXPIRED` تغییر می‌دهد. این مکانیزم مانع بلوکه شدن موجودی کالا می‌شود.

    **وابستگی‌ها:** سفارش باید در یکی از وضعیت‌های `INITIAL`، `STARTED`، `PENDING` یا `WAITING_FOR_GATEWAY` باشد و زمان رزرو آن گذشته باشد.

    ---

    ### ۱۸. EXPIRATION_TIME_EXCEEDED — زمان انقضا گذشت

    **معنا:** در لحظه ثبت نهایی یا پرداخت، مشخص شد که زمان مجاز سفارش تمام شده است.

    **چگونه اتفاق می‌افتد:** هنگام ارسال درخواست پرداخت (`submit_order`)، سیستم بررسی می‌کند که `expiration_time` سفارش هنوز معتبر است یا خیر. در صورت گذشتن زمان، وضعیت به `EXPIRATION_TIME_EXCEEDED` تغییر می‌کند.

    **وابستگی‌ها:** سفارش در وضعیت `PENDING` یا `WAITING_FOR_GATEWAY` است و فیلد `expiration_time` سپری شده.

    ---

    ### ۶. CANCELLED — لغو توسط مشتری

    **معنا:** مشتری در حین فرآیند خرید (قبل از پرداخت) سفارش را لغو کرده یا از صفحه خارج شده است.

    **چگونه اتفاق می‌افتد:** مشتری در صفحه checkout دکمه «انصراف» را می‌زند یا پرداخت ناموفق بوده و سفارش به حالت لغو درمی‌آید.

    **وابستگی‌ها:** سفارش باید در وضعیت `PENDING` یا `WAITING_FOR_GATEWAY` باشد. پرداختی انجام نشده است.

    ---

    ### ۸. FAILED_TO_PAY — پرداخت ناموفق

    **معنا:** تراکنش پرداخت انجام نشد یا با خطا مواجه شد.

    **چگونه اتفاق می‌افتد:** درگاه پرداخت نتیجه ناموفق برمی‌گرداند یا فرآیند بازگشت وجه در مرحله پرداخت با شکست مواجه می‌شود.

    **وابستگی‌ها:** سفارش باید در وضعیت `WAITING_FOR_GATEWAY` بوده باشد.

    ---

    ### ۱۰. FAILED_TO_VERIFY_BY_MERCHANT — تأیید ناموفق توسط مرچنت

    **معنا:** مرچنت سفارش را رد کرده است؛ معمولاً به دلیل ناموجود بودن کالا یا مغایرت اطلاعات.

    **چگونه اتفاق می‌افتد:** مرچنت در پاسخ به درخواست verify، خطا برمی‌گرداند یا API آن وضعیت ناموفق تنظیم می‌کند. پس از این وضعیت، فرآیند استرداد وجه آغاز می‌شود.

    **وابستگی‌ها:** سفارش باید در وضعیت `PAID_BY_USER` باشد.

    ---

    ### ۱۱. FAILED_BY_MERCHANT — خطا از سمت مرچنت

    **معنا:** مرچنت پس از تأیید اولیه، اعلام می‌کند که قادر به انجام سفارش نیست (مثلاً به دلیل اتمام موجودی).

    **چگونه اتفاق می‌افتد:** مرچنت وضعیت را به `FAILED_BY_MERCHANT` تغییر می‌دهد. وجه پرداختی مشتری مسترد خواهد شد.

    **وابستگی‌ها:** سفارش باید در وضعیت `PAID_BY_USER` باشد.

    ---

    ### ۱۲. CANCELLED_BY_MERCHANT — لغو توسط مرچنت

    **معنا:** مرچنت پس از پرداخت، سفارش را به هر دلیلی لغو کرده است.

    **چگونه اتفاق می‌افتد:** مرچنت درخواست لغو سفارش را ارسال می‌کند. وجه پرداختی مشتری به او بازگردانده می‌شود.

    **وابستگی‌ها:** سفارش باید در وضعیت `PAID_BY_USER` یا `VERIFIED_BY_MERCHANT` باشد.

    ---

    ### ۱۳. REQUEST_TO_REFUND — درخواست استرداد توسط مشتری

    **معنا:** مشتری درخواست بازگشت وجه داده و سیستم در حال پردازش استرداد است.

    **چگونه اتفاق می‌افتد:** مرچنت از طریق API درخواست استرداد را ثبت می‌کند (`POST /api/v1/orders/manager/{uuid}/refund`). سفارش وارد صف پردازش استرداد می‌شود.

    **وابستگی‌ها:** سفارش باید در وضعیت `PAID_BY_USER` یا `VERIFIED_BY_MERCHANT` باشد.

    ---

    ### ۱۴، ۱۵، ۱۶. سایر وضعیت‌های درخواست استرداد

    این وضعیت‌ها بر اساس دلیل استرداد از هم تفکیک می‌شوند:

    - **۱۴ — REQUEST_TO_REFUND_TO_MERCHANT_AFTER_FAILED_TO_VERIFY:** استرداد پس از ناموفق بودن تأیید مرچنت؛ وجه به حساب مرچنت بازمی‌گردد.
    - **۱۵ — REQUEST_TO_REFUND_TO_CUSTOMER_AFTER_FAILED_BY_MERCHANT:** استرداد پس از خطای مرچنت؛ وجه به مشتری بازمی‌گردد.
    - **۱۶ — REQUEST_TO_REFUND_TO_MERCHANT_AFTER_CANCELLED_BY_MERCHANT:** استرداد پس از لغو توسط مرچنت؛ وجه به حساب مرچنت برمی‌گردد.

    **چگونه اتفاق می‌افتد:** به صورت خودکار پس از رسیدن به وضعیت‌های ناموفق/لغو مربوطه توسط سیستم تنظیم می‌شود.

    ---

    ### ۱۷. REFUND_COMPLETED — استرداد تکمیل شد

    **معنا:** وجه با موفقیت به صاحب آن (مشتری یا مرچنت بسته به نوع استرداد) بازگردانده شده است.

    **چگونه اتفاق می‌افتد:** Task پردازش استرداد (`process_order_refund`) پس از تأیید موفق بازگشت وجه از سوی Digipay، وضعیت سفارش را به `REFUND_COMPLETED` تغییر می‌دهد.

    **وابستگی‌ها:** یکی از وضعیت‌های درخواست استرداد (۱۳، ۱۴، ۱۵ یا ۱۶) باید فعال باشد و Digipay تراکنش استرداد را تأیید کرده باشد.
     -->
    </div>
  title: BWDK API
  version: 1.0.0
servers:
- description: Production
  url: https://bwdk-backend.digify.shop
- description: Staging
  url: https://bwdk-backend.staging.digifyteam.ir
- description: Local
  url: ""
paths:
  /merchant/api/v1/auth/status/:
    get:
      description: |
        <div dir="rtl" style="text-align: right;">

        بررسی وضعیت احراز هویت فروشنده

        ## توضیحات

        این endpoint برای بررسی اعتبار **API_KEY** فروشنده استفاده می‌شود. اگر کلید معتبر باشد، پاسخ `is_authenticated: true` برمی‌گردد. از این endpoint برای تأیید صحت کلید API قبل از شروع عملیات استفاده کنید.

        نیاز به **API_KEY** فروشنده دارد (فقط Header لازم است، بدنه درخواست ندارد).

        </div>
      operationId: merchant_api_v1_auth_status_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthStatusResponse"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: وضعیت لاگین بودن
      tags:
      - Seller Profile Management
  /order/api/v1/create-order/:
    post:
      description: |
        <div dir="rtl" style="text-align: right;">

        ساخت سفارش جدید در سیستم BWDK

        ## توضیحات

        این endpoint برای ایجاد یک سفارش جدید در سیستم خرید با دیجی‌کالا استفاده می‌شود. در این درخواست باید اطلاعات سفارش، اقلام سبد خرید، و آدرس callback شامل شود.

        برای شروع ارتباط با سرویس‌های **خرید با دیجی‌کالا** شما باید دارای **API_KEY** باشید که این مورد از سمت تیم دیجی‌فای در اختیار شما قرار خواهد گرفت.

        ### روند کاری

        **مرحله ۱: درخواست ساخت سفارش**

        کاربر پس از انتخاب کالاهای خود در سبد خرید، بر روی دکمه **خرید با دیجی‌کالا** کلیک می‌کند و بک‌اند مرچنت درخواستی برای ساخت سفارش BWDK دریافت می‌کند. در این مرحله اولین درخواست خود را به بک‌اند BWDK ارسال می‌نمایید:

        BWDK یک سفارش جدید برای مرچنت با وضعیت **INITIAL** ایجاد می‌کند و **order_uuid** را جنریت می‌کند. آدرس **order_start_url** نقطه شروع مسیر تکمیل سفارش است (انتخاب آدرس، شیپینگ، پکینگ، پرداخت و غیره).

        **مرحله ۲: بررسی نهایی سفارش پیش از تأیید**

        پس از اینکه مشتری فرآیند پرداخت را تکمیل کرد و به **callback_url** هدایت شد، بک‌اند مرچنت باید پیش از فراخوانی verify، یک‌بار سفارش را دریافت کرده و مبالغ نهایی (شامل هزینه کالاها، شیپینگ، تخفیف‌ها و جمع کل) را با اطلاعات سمت مرچنت تطبیق دهد تا از صحت تراکنش اطمینان حاصل شود.

        **مرحله ۳: تأیید سفارش**

        پس از تطبیق موفق مبالغ، درخواست verify ارسال می‌شود تا سفارش نهایی و آماده ارسال گردد.
        <br>
        </div>

        ```mermaid
        sequenceDiagram
            participant M as فروشنده
            participant API as BWDK API
            participant C as مشتری
            participant PG as درگاه پرداخت

            M->>API: POST /api/v1/orders/create
            Note over M,API: شناسه سفارش, کالاها, مبلغ, callback_url
            API-->>M: {لینک شروع سفارش, شناسه سفارش}

            M->>C: تغییر مسیر به لینک شروع

            C->>API: تکمیل درخواست خرید توسط مشتری
            API->>PG: شروع فرآیند پرداخت
            PG-->>C: نتیجه پرداخت
            PG->>API: تأیید پرداخت
            API-->>C: تغییر مسیر به callback_url

            M->>API: GET /api/v1/orders/manager/{uuid}
            Note over M,API: بررسی نهایی مبالغ سفارش
            API-->>M: اطلاعات سفارش (مبالغ، اقلام، وضعیت)

            M->>API: POST /api/v1/orders/manager/{uuid}/verify
            Note over M,API: {شناسه منحصربفرد فروشنده}
            API-->>M: سفارش تأیید شد و آماده ارسال است
        ```

        </div>
      operationId: order_api_v1_create_order_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/OrderCreate"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/OrderCreate"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderCreateResponse"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: ساخت سفارش
      tags:
      - Merchant Orders
  /order/api/v1/manager/:
    get:
      description: |
        <div dir="rtl" style="text-align: right;">

        لیست سفارشات فروشنده

        ## توضیحات

        این endpoint لیست تمام سفارشات مرتبط با فروشنده را با امکان فیلتر، جستجو و مرتب‌سازی برمی‌گرداند. نتایج به صورت صفحه‌بندی‌شده (Cursor Pagination) ارسال می‌شوند و به ترتیب جدیدترین سفارش اول مرتب می‌شوند.

        نیاز به **API_KEY** فروشنده دارد.

        ## پارامترهای فیلتر

        * **status**: وضعیت سفارش (INITIAL, PENDING, PAID_BY_USER, VERIFIED_BY_MERCHANT, ...)
        * **created_at__gte / created_at__lte**: فیلتر بر اساس تاریخ ایجاد
        * **search**: جستجو در شماره تلفن مشتری، نام، کد مرجع، شناسه سفارش مرچنت
        * **ordering**: مرتب‌سازی بر اساس created_at, final_amount, status, merchant_order_id

        </div>
      operationId: order_api_v1_manager_list
      parameters:
      - explode: true
        in: query
        name: cities
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: created_at
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: مقدار نشانگر صفحه‌بندی.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order_ids
        required: false
        schema:
          type: string
        style: form
      - description: کدام فیلد باید هنگام مرتب‌سازی نتایج استفاده شود.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: payment_types
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: provinces
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reference_code
        required: false
        schema:
          type: string
        style: form
      - description: یک عبارت جستجو.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: shipping_types
        required: false
        schema:
          type: string
        style: form
      - description: |-
          * `1` - اولیه
          * `2` - شروع شده
          * `3` - در انتظار
          * `4` - در انتظار درگاه
          * `5` - منقضی شده
          * `6` - لغو شده
          * `7` - پرداخت‌شده توسط کاربر
          * `8` - پرداخت موفیت آمیز نبود
          * `9` - تأیید شده توسط فروشگاه
          * `10` - تأیید توسط فروشگاه ناموفق بود
          * `11` - ناموفق از سوی فروشگاه
          * `12` - لغوشده توسط فروشگاه
          * `13` - درخواست بازگشت وجه به مشتری به دلیل درخواست مشتری
          * `14` - درخواست بازگشت وجه به فروشگاه پس از عدم تأیید توسط فروشگاه
          * `15` - درخواست بازگشت وجه به مشتری پس از ناموفق بودن توسط فروشگاه
          * `16` - بازپرداخت به فروشگاه پس از لغو توسط فروشگاه
          * `17` - بازپرداخت تکمیل شد
          * `18` - زمان انقضا گذشته است
          * `19` - تحویل شده
          * `20` - جمع اوری شده و در حال ارسال
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - 1
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 2
          - 20
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          title: وضعیت
          type: integer
        style: form
      - explode: true
        in: query
        name: statuses
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: today_pickup
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedOrderDetailList"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: لیست سفارشات
      tags:
      - Merchant Orders
  /order/api/v1/manager/{order_uuid}/:
    get:
      description: |
        <div dir="rtl" style="text-align: right;">

        # مدیریت سفارشات

        ## توضیحات

        این endpoint برای مدیریت و مشاهده سفارشات فروشنده استفاده می‌شود.

        </div>
      operationId: order_api_v1_manager_retrieve
      parameters:
      - explode: false
        in: path
        name: order_uuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: دریافت سفارش
      tags:
      - Merchant Orders
  /order/api/v1/manager/{order_uuid}/cancel-shipment/:
    post:
      description: |
        <div dir="rtl" style="text-align: right;">

        لغو مرسوله دیجی‌اکسپرس

        ## توضیحات

        این endpoint برای لغو یک مرسوله ثبت‌شده در سرویس دیجی‌اکسپرس استفاده می‌شود. پس از لغو موفق، مرسوله از صف ارسال خارج می‌شود.

        نیاز به **API_KEY** فروشنده دارد.

        ## شرایط لغو

        * سفارش باید دارای روش ارسال **DigiExpress** باشد
        * مرسوله باید در وضعیت **در انتظار تحویل به پیک** (Request for Pickup) باشد

        </div>

        ```mermaid
        sequenceDiagram
            participant M as فروشنده
            participant API as BWDK API
            participant DX as دیجی‌اکسپرس

            M->>API: POST /order/api/v1/manager/{order_uuid}/cancel-shipment/
            Note over M,API: Header: X-API-KEY (بدون بدنه)

            alt روش ارسال DigiExpress نیست
                API-->>M: 400 خطا
                Note over API,M: {error: "Selected shipping method is not DigiExpress"}
            else مرسوله قابل لغو نیست
                API-->>M: 400 خطا
                Note over API,M: {error: "..."}
            else لغو موفق
                API->>DX: لغو مرسوله
                DX-->>API: تأیید لغو
                API-->>M: 200 موفق
                Note over API,M: {message, order_uuid, status, status_display}
            end
        ```
      operationId: order_api_v1_manager_cancel_shipment_create
      parameters:
      - explode: false
        in: path
        name: order_uuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantOrderCancelShipmentResponse"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_OrderError"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_OrderError"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: Cancel Shipment
      tags:
      - Order Shipping
  /order/api/v1/manager/{order_uuid}/change-shipping-method/:
    put:
      description: |
        <div dir="rtl" style="text-align: right;">

        تغییر روش ارسال سفارش

        ## توضیحات

        این endpoint به فروشنده اجازه می‌دهد روش ارسال یک سفارش را تغییر دهد. این عملیات معمولاً زمانی استفاده می‌شود که فروشنده بخواهد از DigiExpress به روش ارسال پیش‌فرض (یا بالعکس) تغییر دهد.

        نیاز به **API_KEY** فروشنده دارد.

        ## پارامترهای ورودی

        * **updated_shipping**: شناسه روش ارسال جدید
        * **preparation_time** (اختیاری): زمان آماده‌سازی (روز) برای DigiExpress

        </div>
      operationId: order_api_v1_manager_change_shipping_method_update
      parameters:
      - explode: false
        in: path
        name: order_uuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderDetail"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/OrderDetail"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/OrderDetail"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: Change Shipping Method
      tags:
      - Order Shipping
  /order/api/v1/manager/{order_uuid}/refund/:
    post:
      description: |
        <div dir="rtl" style="text-align: right;">
        بازگشت و لغو سفارش

        ## توضیحات

        این endpoint برای بازگشت یا لغو سفارشی استفاده می‌شود که قبلاً پرداخت شده یا تایید شده است. در این مرحله مبلغ سفارش به کاربر بازگشت داده می‌شود و وضعیت سفارش به **REFUNDED** تغییر می‌یابد.


        ## شرایط بازگشت

        سفارش باید در یکی از وضعیت‌های زیر باشد تا بازگشت امکان‌پذیر باشد:
        * **PAID_BY_USER**: سفارش پرداخت شده است اما هنوز تایید نشده
        * **VERIFIED_BY_MERCHANT**: سفارش تایید شده است

        سفارش نباید قبلاً بازگشت داده شده باشد.

        **پاسخ خطا** - اگر سفارش در وضعیت مناسب نباشد یا قبلاً بازگشت داده شده باشد
        </div>

        ```mermaid
        sequenceDiagram
            participant M as فروشنده
            participant API as BWDK API

            M->>API: POST /api/v1/orders/manager/{uuid}/refund
            Note over M,API: {reason: "درخواست مشتری"}

            alt سفارش قابل بازگشت نیست
                API-->>M: 500 خطا
                Note over API,M: {error: "شروع بازگشت ناموفق بود.<br/>لطفاً دوباره تلاش کنید."}
            else سفارش معتبر است
                API-->>M: 200 موفق
                Note over API,M: {message: "درخواست بازگشت با<br/>موفقیت شروع شد",<br/>order_uuid, status: 13,<br/>status_display,<br/>refund_reason}

                M->>API: GET /api/v1/orders/manager/{uuid}
                Note over M,API: بررسی وضعیت سفارش<br/>(endpoint جداگانه /refund/status وجود ندارد)

                alt status: 17 (بازگشت تکمیل شد)
                    API-->>M: 200 موفق
                    Note over API,M: {order_uuid, status: 17,<br/>status_display: "بازگشت تکمیل شد",<br/>metadata.refund_tracking_code,<br/>metadata.refund_completed_at}

                else status: 13 (در حال پردازش)
                    API-->>M: 200 موفق
                    Note over API,M: {order_uuid, status: 13,<br/>status_display: "درخواست بازگشت به مشتری<br/>به دلیل درخواست<br/>مشتری",<br/>metadata.refund_reason}

                else status: قبلی (بازگشت ناموفق)
                    API-->>M: 200 موفق
                    Note over API,M: {order_uuid, status: (قبلی),<br/>metadata.refund_error,<br/>metadata.refund_failed_at}
                end
            end
        ```
      operationId: order_api_v1_manager_refund_create
      parameters:
      - explode: false
        in: path
        name: order_uuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundOrder"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/RefundOrder"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/RefundOrder"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantOrderRefundResponse"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_OrderError"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: بازگشت سفارش
      tags:
      - Merchant Orders
  /order/api/v1/manager/{order_uuid}/revive-shipment/:
    post:
      description: |
        <div dir="rtl" style="text-align: right;">

        احیای مرسوله دیجی‌اکسپرس

        ## توضیحات

        این endpoint برای احیای (reactivate) یک مرسوله دیجی‌اکسپرس که قبلاً لغو شده یا در وضعیت غیرفعال است استفاده می‌شود. با ارسال `preparation_time` (زمان آماده‌سازی بر حسب روز)، زمان جدید آماده بودن بار تنظیم می‌شود.

        نیاز به **API_KEY** فروشنده دارد.

        ## پارامترهای ورودی

        * **preparation_time** (اختیاری، پیش‌فرض: ۲): تعداد روز تا آماده‌شدن بار برای تحویل به پیک

        ## شرایط

        * سفارش باید دارای روش ارسال **DigiExpress** باشد
        * مرسوله باید در وضعیت قابل احیا باشد

        </div>

        ```mermaid
        sequenceDiagram
            participant M as فروشنده
            participant API as BWDK API
            participant DX as دیجی‌اکسپرس

            M->>API: POST /order/api/v1/manager/{order_uuid}/revive-shipment/
            Note over M,API: Header: X-API-KEY<br/>{preparation_time: 2}

            alt روش ارسال DigiExpress نیست
                API-->>M: 400 خطا
                Note over API,M: {error: "Selected shipping method is not DigiExpress"}
            else احیا موفق
                API->>DX: احیای مرسوله با زمان جدید
                DX-->>API: تأیید احیا
                API-->>M: 200 موفق
                Note over API,M: {message, order_uuid, status, status_display}
            end
        ```
      operationId: order_api_v1_manager_revive_shipment_create
      parameters:
      - explode: false
        in: path
        name: order_uuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviveShipment"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ReviveShipment"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ReviveShipment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantOrderReviveShipmentResponse"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_OrderError"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_OrderError"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: Revive Shipment
      tags:
      - Order Shipping
  /order/api/v1/manager/{order_uuid}/update-status/:
    put:
      description: |
        <div dir="rtl" style="text-align: right;">

        بروزرسانی وضعیت سفارش

        ## توضیحات

        این endpoint به فروشنده امکان می‌دهد وضعیت یک سفارش را به‌صورت مستقیم تغییر دهد. این endpoint برای مواردی مانند علامت‌گذاری سفارش به‌عنوان «ارسال شده» یا «تحویل داده شده» توسط فروشنده استفاده می‌شود.

        نیاز به **API_KEY** فروشنده دارد.

        ## وضعیت‌های مجاز

        * **DELIVERED**: تحویل شد
        * **DISPATCHED**: ارسال شد
        * سایر وضعیت‌های تعریف‌شده در سیستم

        </div>

        ```mermaid
        sequenceDiagram
            participant M as فروشنده
            participant API as BWDK API

            M->>API: PUT /order/api/v1/manager/{order_uuid}/update-status/
            Note over M,API: Header: X-API-KEY<br/>{status: "DELIVERED"}

            alt وضعیت معتبر است
                API-->>M: 200 موفق
                Note over API,M: اطلاعات کامل سفارش با وضعیت جدید
            else وضعیت نامعتبر است
                API-->>M: 400 خطا
                Note over API,M: {error: "invalid status"}
            end
        ```
      operationId: order_api_v1_manager_update_status_update
      parameters:
      - explode: false
        in: path
        name: order_uuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrderStatus"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UpdateOrderStatus"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UpdateOrderStatus"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: Update Order Status
      tags:
      - Merchant Orders
  /order/api/v1/manager/{order_uuid}/verify/:
    post:
      description: |
        <div dir="rtl" style="text-align: right;">

        تایید سفارش پس از پرداخت

        ## توضیحات

        پس از اتمام فرایند پرداخت توسط کاربر، مرچنت باید سفارش را تایید کند. این endpoint برای تایید و نهایی کردن سفارش پس از پرداخت موفق توسط مشتری استفاده می‌شود. در این مرحله مرچنت سفارش را تایید می‌کند و وضعیت سفارش به **VERIFIED_BY_MERCHANT** تغییر می‌یابد.

        ## روند کاری

        **مرحله ۲: بازگشت کاربر و دریافت نتیجه**

        پس از تکمیل فرایند پرداخت (موفق یا ناموفق)، کاربر به آدرس callback_url که هنگام ساخت سفارش ارسال کرده بودید بازگردانده می‌شود. در این درخواست وضعیت سفارش به صورت query parameters ارسال می‌شود:


        **Query Parameters:**
        * **success**: متغیر منطقی نشان‌دهنده موفق یا ناموفق بودن سفارش
        * **status**: وضعیت سفارش (PAID، FAILED، وغیره)
        * **phone_number**: شماره تلفن مشتری
        * **order_uuid**: شناسه یکتای سفارش
        * **merchant_order_id**: شناسه سفارش در سیستم مرچنت

        **مرحله ۳: تایید سفارش در بک‌اند**

        سپس شما باید این endpoint را فراخوانی کنید تا سفارش را تایید کنید و اطمینان حاصل کنید که سفارش موفقیت‌آمیز ثبت شده است:
        </div>
      operationId: order_api_v1_manager_verify_create
      parameters:
      - explode: false
        in: path
        name: order_uuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyOrder"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/VerifyOrder"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/VerifyOrder"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: تایید سفارش
      tags:
      - Merchant Orders
  /order/api/v1/manager/paid/:
    get:
      description: |
        لیست تمامی سفارشاتی که توسط کاربر پرداخت شده اند ولی توسط فروشنده تایید نشده اند.
      operationId: order_api_v1_manager_paid_list
      parameters:
      - explode: true
        in: query
        name: cities
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: created_at
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: مقدار نشانگر صفحه‌بندی.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order_ids
        required: false
        schema:
          type: string
        style: form
      - description: کدام فیلد باید هنگام مرتب‌سازی نتایج استفاده شود.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: payment_types
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: provinces
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reference_code
        required: false
        schema:
          type: string
        style: form
      - description: یک عبارت جستجو.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: shipping_types
        required: false
        schema:
          type: string
        style: form
      - description: |-
          * `1` - اولیه
          * `2` - شروع شده
          * `3` - در انتظار
          * `4` - در انتظار درگاه
          * `5` - منقضی شده
          * `6` - لغو شده
          * `7` - پرداخت‌شده توسط کاربر
          * `8` - پرداخت موفیت آمیز نبود
          * `9` - تأیید شده توسط فروشگاه
          * `10` - تأیید توسط فروشگاه ناموفق بود
          * `11` - ناموفق از سوی فروشگاه
          * `12` - لغوشده توسط فروشگاه
          * `13` - درخواست بازگشت وجه به مشتری به دلیل درخواست مشتری
          * `14` - درخواست بازگشت وجه به فروشگاه پس از عدم تأیید توسط فروشگاه
          * `15` - درخواست بازگشت وجه به مشتری پس از ناموفق بودن توسط فروشگاه
          * `16` - بازپرداخت به فروشگاه پس از لغو توسط فروشگاه
          * `17` - بازپرداخت تکمیل شد
          * `18` - زمان انقضا گذشته است
          * `19` - تحویل شده
          * `20` - جمع اوری شده و در حال ارسال
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - 1
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 2
          - 20
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          title: وضعیت
          type: integer
        style: form
      - explode: true
        in: query
        name: statuses
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: today_pickup
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMerchantPaidOrderListList"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: سفارش پرداخت‌شده و تایید‌نشده
      tags:
      - Merchant Orders
  /wallets/api/v1/wallet-balance/:
    get:
      description: |
        <div dir="rtl" style="text-align: right;">

        موجودی کیف پول فروشنده

        ## توضیحات

        این endpoint موجودی کیف پول فروشنده را برمی‌گرداند. کیف پول برای پرداخت هزینه ارسال دیجی‌اکسپرس استفاده می‌شود. هنگام ثبت مرسوله دیجی‌اکسپرس، هزینه ارسال به‌صورت خودکار از کیف پول کسر می‌شود.

        نیاز به **API_KEY** فروشنده دارد.

        </div>
      operationId: wallets_api_v1_wallet_balance_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletBalance"
          description: ""
      security:
      - MerchantAPIKeyAuth: []
      summary: Get Wallet Balance
      tags:
      - Merchant Wallet
components:
  schemas:
    AuthStatusResponse:
      example:
        is_authenticated: true
      properties:
        is_authenticated:
          description: Authentication status
          type: boolean
      required:
      - is_authenticated
      type: object
    BusinessAddress:
      description: |-
        Serializer for BusinessAddress model.
        Used for merchant and shipping addresses.
      properties:
        id:
          readOnly: true
          type: integer
        address:
          title: آدرس
          type: string
        postal_code:
          maxLength: 10
          nullable: true
          title: کد پستی
          type: string
        city_name:
          maxLength: 32
          title: نام شهر
          type: string
        state_name:
          maxLength: 32
          title: نام استان
          type: string
        district_id:
          maximum: 2147483647
          minimum: 0
          nullable: true
          title: شناسه محله
          type: integer
        district_name:
          maxLength: 32
          nullable: true
          title: نام محله
          type: string
        longitude:
          format: decimal
          nullable: true
          pattern: "^-?\\d{0,6}(?:\\.\\d{0,16})?$"
          title: طول جغرافیایی
          type: string
        latitude:
          format: decimal
          nullable: true
          pattern: "^-?\\d{0,6}(?:\\.\\d{0,16})?$"
          title: عرض جغرافیایی
          type: string
        building_number:
          maxLength: 10
          nullable: true
          title: شماره ساختمان
          type: string
        unit:
          maxLength: 50
          nullable: true
          title: واحد
          type: string
        receiver_name:
          maxLength: 100
          nullable: true
          title: نام گیرنده
          type: string
        receiver_phone:
          maxLength: 100
          nullable: true
          title: تلفن گیرنده
          type: string
        is_accurate:
          title: دقیق است
          type: boolean
        is_active:
          title: فعال است
          type: boolean
        created_at:
          format: date-time
          readOnly: true
          title: ایجاد شده در
          type: string
        modified_at:
          format: date-time
          readOnly: true
          title: تغییر یافته در
          type: string
      required:
      - address
      - city_name
      - created_at
      - id
      - modified_at
      - state_name
      type: object
    DeliveryTimeRangeDisplay:
      properties:
        min_date:
          type: string
        max_date:
          type: string
      required:
      - max_date
      - min_date
      type: object
    ErrorEnum:
      description: |-
        * `User is not authenticated.` - کاربر تأیید هویت نشده است.
        * `Order not found.` - Order not found.
        * `Order is not in a state where shipping can be selected.` - سفارش در وضعیتی نیست که بتوان روش ارسال را انتخاب کرد.
        * `Order is not in a state where packing can be selected.` - سفارش در وضعیتی نیست که بتوان بسته‌بندی را انتخاب کرد.
        * `Failed to initiate refund. Please try again later.` - عملیات بازپرداخت ناموفق بود. لطفاً بعداً دوباره امتحان کنید.
        * `Order is expired or cancelled.` - سفارش منقضی‌شده یا لغو‌شده است.
        * `Invalid request origin.` - Invalid request origin.
        * `Digi Express shipping method not found.` - روش ارسال دیجی اکسپرس یافت نشد.
        * `Order address not found.` - آدرس سفارش یافت نشد.
        * `Failed to fetch Digi Express shipping time window options.` - دریافت گزینه‌های بازه زمانی ارسال دیجی اکسپرس ناموفق بود.
        * `Address ID not found.` - Address ID not found.
        * `Failed to cancel shipment.` - خطا در کنسل کردن مرسوله.
        * `Failed to cancel shipment in third party service.` - خطا در کنسل کردن مرسوله از سمت سرویس خارجی.
        * `Shipment not found.` - Shipment not found.
        * `Selected shipping method is not eligible for cancellation.` - Selected shipping method is not eligible for cancellation.
        * `DigiExpress shipment is not in cancelable in this state` - مرسوله دیجی‌اکسپرس در این وضعیت قابل کنسل شدن نیست.
        * `DigiExpress shipment is not in reviveable in this state` - مرسوله دیجی‌اکسپرس در این وضعیت قابل ارسال مجدد نیست.
        * `Failed to revive shipment in third party service.` - Failed to revive shipment in third party service.
        * `Selected shipping method is not eligible for revival.` - Selected shipping method is not eligible for revival.
      enum:
      - User is not authenticated.
      - Order not found.
      - Order is not in a state where shipping can be selected.
      - Order is not in a state where packing can be selected.
      - Failed to initiate refund. Please try again later.
      - Order is expired or cancelled.
      - Invalid request origin.
      - Digi Express shipping method not found.
      - Order address not found.
      - Failed to fetch Digi Express shipping time window options.
      - Address ID not found.
      - Failed to cancel shipment.
      - Failed to cancel shipment in third party service.
      - Shipment not found.
      - Selected shipping method is not eligible for cancellation.
      - DigiExpress shipment is not in cancelable in this state
      - DigiExpress shipment is not in reviveable in this state
      - Failed to revive shipment in third party service.
      - Selected shipping method is not eligible for revival.
      type: string
    GatewayTypeEnum:
      description: |-
        * `1` - آنلاین
        * `2` - BNPL (الان بخر، بعداً پرداخت کن)
        * `3` - اعتباری
        * `4` - کیف پول دیجی‌پی
        * `5` - اقساط پیش‌فرض
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
    Merchant:
      example:
        domain: https://openapi-generator.tech
        name: name
        logo: https://openapi-generator.tech
      properties:
        name:
          maxLength: 128
          nullable: true
          title: نام
          type: string
        domain:
          format: uri
          maxLength: 200
          title: آدرس فروشگاه
          type: string
        logo:
          format: uri
          title: تصویر
          type: string
      required:
      - domain
      - logo
      type: object
    MerchantOrderCancelShipmentResponse:
      example:
        status_display: status_display
        order_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        message: message
        status: ""
      properties:
        message:
          description: Success message
          type: string
        order_uuid:
          description: Order unique identifier
          format: uuid
          type: string
        status:
          allOf:
          - $ref: "#/components/schemas/OrderStatusEnum"
          description: |-
            Current order status

            * `1` - اولیه
            * `2` - شروع شده
            * `3` - در انتظار
            * `4` - در انتظار درگاه
            * `5` - منقضی شده
            * `6` - لغو شده
            * `7` - پرداخت‌شده توسط کاربر
            * `8` - پرداخت موفیت آمیز نبود
            * `9` - تأیید شده توسط فروشگاه
            * `10` - تأیید توسط فروشگاه ناموفق بود
            * `11` - ناموفق از سوی فروشگاه
            * `12` - لغوشده توسط فروشگاه
            * `13` - درخواست بازگشت وجه به مشتری به دلیل درخواست مشتری
            * `14` - درخواست بازگشت وجه به فروشگاه پس از عدم تأیید توسط فروشگاه
            * `15` - درخواست بازگشت وجه به مشتری پس از ناموفق بودن توسط فروشگاه
            * `16` - بازپرداخت به فروشگاه پس از لغو توسط فروشگاه
            * `17` - بازپرداخت تکمیل شد
            * `18` - زمان انقضا گذشته است
            * `19` - تحویل شده
            * `20` - جمع اوری شده و در حال ارسال
        status_display:
          description: Human-readable status
          type: string
      required:
      - message
      - order_uuid
      - status
      - status_display
      type: object
    MerchantOrderRefundResponse:
      example:
        status_display: status_display
        order_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        refund_reason: refund_reason
        message: message
        status: 0
      properties:
        message:
          type: string
        order_uuid:
          format: uuid
          type: string
        status:
          $ref: "#/components/schemas/OrderStatusEnum"
        status_display:
          type: string
        refund_reason:
          type: string
      required:
      - message
      - order_uuid
      - refund_reason
      - status
      - status_display
      type: object
    MerchantOrderReviveShipmentResponse:
      example:
        status_display: status_display
        order_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        message: message
        status: ""
      properties:
        message:
          description: Success message
          type: string
        order_uuid:
          description: Order unique identifier
          format: uuid
          type: string
        status:
          allOf:
          - $ref: "#/components/schemas/OrderStatusEnum"
          description: |-
            Current order status

            * `1` - اولیه
            * `2` - شروع شده
            * `3` - در انتظار
            * `4` - در انتظار درگاه
            * `5` - منقضی شده
            * `6` - لغو شده
            * `7` - پرداخت‌شده توسط کاربر
            * `8` - پرداخت موفیت آمیز نبود
            * `9` - تأیید شده توسط فروشگاه
            * `10` - تأیید توسط فروشگاه ناموفق بود
            * `11` - ناموفق از سوی فروشگاه
            * `12` - لغوشده توسط فروشگاه
            * `13` - درخواست بازگشت وجه به مشتری به دلیل درخواست مشتری
            * `14` - درخواست بازگشت وجه به فروشگاه پس از عدم تأیید توسط فروشگاه
            * `15` - درخواست بازگشت وجه به مشتری پس از ناموفق بودن توسط فروشگاه
            * `16` - بازپرداخت به فروشگاه پس از لغو توسط فروشگاه
            * `17` - بازپرداخت تکمیل شد
            * `18` - زمان انقضا گذشته است
            * `19` - تحویل شده
            * `20` - جمع اوری شده و در حال ارسال
        status_display:
          description: Human-readable status
          type: string
      required:
      - message
      - order_uuid
      - status
      - status_display
      type: object
    MerchantPaidOrderList:
      description: Serializer for manager view listing PAID_BY_USER orders
      example:
        paid_at: 2000-01-23T04:56:07.000+00:00
        merchant_unique_id: merchant_unique_id
        merchant_order_id: merchant_order_id
        refunds_at: 2000-01-23T04:56:07.000+00:00
        order_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        order_uuid:
          format: uuid
          readOnly: true
          type: string
        merchant_order_id:
          description: شناسه منحصر به فرد سفارش در سیستم فروشنده
          readOnly: true
          title: شناسه سفارش فروشنده
          type: string
        merchant_unique_id:
          description: شناسه منحصر به فرد فروشنده برای تأیید سفارش
          readOnly: true
          title: شناسه منحصر به فرد فروشنده
          type: string
        paid_at:
          format: date-time
          nullable: true
          readOnly: true
          type: string
        refunds_at:
          format: date-time
          nullable: true
          readOnly: true
          type: string
      required:
      - merchant_order_id
      - merchant_unique_id
      - order_uuid
      - paid_at
      - refunds_at
      type: object
    NullEnum:
      enum:
      - null
      type: string
    Option:
      example:
        type_name: ""
        is_color: false
        name: name
        value: value
      properties:
        type_name:
          allOf:
          - $ref: "#/components/schemas/TypeNameEnum"
          description: |-
            نوع ویژگی محصول: رنگ، سایز، گارانتی، وزن یا سایر

            * `color` - رنگ
            * `size` - اندازه
            * `warranty` - گارانتی
            * `weight` - وزن
            * `other` - سایر
        name:
          description: نام ویژگی (مثلاً 'قرمز' برای رنگ قرمز، 'XL' برای سایز)
          type: string
        value:
          description: مقدار ویژگی (مثلاً '#FF0000' برای کد رنگ یا مقدار دیگر)
          type: string
        is_color:
          default: false
          description: اگر نوع ویژگی رنگ است درست است، وگرنه غلط
          type: boolean
      required:
      - name
      - type_name
      - value
      type: object
    OrderCreate:
      example:
        tax_amount: 1210617418
        merchant_unique_id: merchant_unique_id
        total_paid_amount: 314780940
        merchant_order_id: merchant_order_id
        destination_address: ""
        discount_amount: 1280358508
        loyalty_amount: 1516424369
        reservation_expired_at: 1601538494
        merchant: 1
        weight: 0.4965218492984954
        main_amount: 171976544
        shipping_amount: 494379917
        callback_url: https://openapi-generator.tech
        source_address: ""
        reference_code: reference_code
        preparation_time: 0
        final_amount: 1294386358
        items:
        - tax_amount: 1586191969
          amount: 776546568
          image_link: https://openapi-generator.tech
          primary_amount: 1997469940
          discount_amount: 890262545
          name: name
          count: 6642
          options:
          - type_name: ""
            is_color: false
            name: name
            value: value
          - type_name: ""
            is_color: false
            name: name
            value: value
          preparation_time: 0
          weight: 0.10246457001441578
        - tax_amount: 1586191969
          amount: 776546568
          image_link: https://openapi-generator.tech
          primary_amount: 1997469940
          discount_amount: 890262545
          name: name
          count: 6642
          options:
          - type_name: ""
            is_color: false
            name: name
            value: value
          - type_name: ""
            is_color: false
            name: name
            value: value
          preparation_time: 0
          weight: 0.10246457001441578
        user: 6
      properties:
        merchant_order_id:
          description: شناسه منحصر به فرد این سفارش در سیستم فروشنده
          maxLength: 64
          title: شناسه سفارش فروشنده
          type: string
        merchant_unique_id:
          description: شناسه منحصر به فرد برای تأیید اصالت سفارش
          maxLength: 64
          title: شناسه منحصر به فرد فروشنده
          type: string
        main_amount:
          description: مجموع قیمت‌های اولیه تمام کالاها بدون تخفیف (به تومان)
          maximum: 2147483647
          minimum: 0
          title: مبلغ اصلی
          type: integer
        final_amount:
          description: "مبلغ نهایی: مبلغ_اصلی - مبلغ_تخفیف + مبلغ_مالیات (به تومان\
            )"
          maximum: 2147483647
          minimum: 0
          title: مبلغ نهایی
          type: integer
        total_paid_amount:
          description: "مبلغ کل پرداخت شده توسط کاربر: مبلغ_نهایی + هزینه_ارسال (ب\
            ه تومان)"
          maximum: 2147483647
          minimum: 0
          title: مبلغ کل پرداخت شده
          type: integer
        discount_amount:
          description: مبلغ کل تخفیف برای تمام سفارش (به تومان)
          maximum: 2147483647
          minimum: 0
          title: مبلغ تخفیف
          type: integer
        tax_amount:
          description: مبلغ کل مالیات برای تمام سفارش (به تومان)
          maximum: 2147483647
          minimum: 0
          title: مبلغ مالیات
          type: integer
        shipping_amount:
          description: هزینه ارسال برای سفارش (به تومان)
          maximum: 2147483647
          minimum: 0
          title: هزینه ارسال
          type: integer
        loyalty_amount:
          description: مبلغ تخفیف باشگاه مشتریان/پاداش (به تومان)
          maximum: 2147483647
          minimum: 0
          title: مقدار پاداش
          type: integer
        callback_url:
          description: آدرس وب‌هوک برای دریافت اطلاع رسانی وضعیت پرداخت
          format: uri
          maxLength: 256
          title: آدرس اطلاع رسانی
          type: string
        destination_address:
          nullable: true
          readOnly: true
          title: آدرس مقصد
        items:
          items:
            $ref: "#/components/schemas/OrderItemCreate"
          type: array
        merchant:
          description: مقدار توسط سیستم جایگذاری می شود
          title: فروشگاه
          type: integer
        source_address:
          description: مقدار توسط سیستم جایگذاری می شود
          nullable: true
        user:
          nullable: true
          readOnly: true
          title: کاربر
          type: integer
        reservation_expired_at:
          description: مهلت پرداخت (به عنوان Unix timestamp) قبل از اتمام سفارش
          maximum: 2147483647
          minimum: 0
          nullable: true
          title: مهلت انقضای رزرو (timestamp)
          type: integer
        reference_code:
          description: "کد مرجع یکتا برای پیگیری سفارش مشتری (قالب: BD-XXXXXXXX)"
          readOnly: true
          title: کد مرجع
          type: string
        preparation_time:
          default: 2
          description: Preparation time for the order (in days)
          minimum: 0
          type: integer
        weight:
          description: Total Weight of the order (in grams)
          format: double
          minimum: 0
          title: وزن
          type: number
      required:
      - callback_url
      - destination_address
      - items
      - merchant_order_id
      - merchant_unique_id
      - reference_code
      - user
      type: object
    OrderCreateResponse:
      example:
        order_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        order_start_url: https://openapi-generator.tech
      properties:
        order_start_url:
          format: uri
          type: string
        order_uuid:
          format: uuid
          type: string
      required:
      - order_start_url
      - order_uuid
      type: object
    OrderDetail:
      example:
        tax_amount: 7
        status_display: status_display
        total_paid_amount: 5
        digipay_markup_amount: 1
        promotion_discount_amount: 1.2315135367772556
        discount_amount: 2
        created_at: 2000-01-23T04:56:07.000+00:00
        can_select_packing: true
        packing_selected_at: 2000-01-23T04:56:07.000+00:00
        selected_shipping_data:
          key: ""
        selected_shipping_method: ""
        callback_url: https://openapi-generator.tech
        source_address: ""
        can_proceed_to_payment: true
        markup_commission_percentage: 1
        preparation_time: 4
        reference_code: reference_code
        order_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        payment: ""
        id: 0
        is_paid: true
        selected_packing: ""
        previous_status: ""
        previous_status_display: previous_status_display
        merchant_order_id: merchant_order_id
        destination_address: ""
        reservation_expired_at: 6
        loyalty_amount: 3
        merchant:
          domain: https://openapi-generator.tech
          name: name
          logo: https://openapi-generator.tech
        weight: 7.386281948385884
        can_select_shipping: true
        main_amount: 1
        packing_amount: 2
        shipping_amount: 9
        shipping_selected_at: 2000-01-23T04:56:07.000+00:00
        can_select_address: true
        address_selected_at: 2000-01-23T04:56:07.000+00:00
        promotion_data:
          key: ""
        final_amount: 5
        items:
        - tax_amount: 1586191969
          amount: 776546568
          image_link: https://openapi-generator.tech
          primary_amount: 1997469940
          discount_amount: 890262545
          name: name
          count: 6642
          options:
          - type_name: ""
            is_color: false
            name: name
            value: value
          - type_name: ""
            is_color: false
            name: name
            value: value
          preparation_time: 0
          weight: 0.10246457001441578
        - tax_amount: 1586191969
          amount: 776546568
          image_link: https://openapi-generator.tech
          primary_amount: 1997469940
          discount_amount: 890262545
          name: name
          count: 6642
          options:
          - type_name: ""
            is_color: false
            name: name
            value: value
          - type_name: ""
            is_color: false
            name: name
            value: value
          preparation_time: 0
          weight: 0.10246457001441578
        user: ""
        status: ""
      properties:
        id:
          readOnly: true
          type: integer
        created_at:
          format: date-time
          readOnly: true
          title: ایجاد شده در
          type: string
        order_uuid:
          format: uuid
          readOnly: true
          type: string
        reservation_expired_at:
          description: Unix timestamp تا زمانی که سفارش برای پرداخت رزرو شده است
          nullable: true
          readOnly: true
          title: مهلت انقضای رزرو (timestamp)
          type: integer
        merchant_order_id:
          description: شناسه منحصر به فرد سفارش در سیستم فروشنده
          readOnly: true
          title: شناسه سفارش فروشنده
          type: string
        status:
          allOf:
          - $ref: "#/components/schemas/OrderStatusEnum"
          readOnly: true
          title: وضعیت
        status_display:
          readOnly: true
          type: string
        main_amount:
          description: مجموع قیمت اولیه تمام کالاهای سفارش بدون تخفیف (به تومان)
          readOnly: true
          title: مبلغ اصلی
          type: integer
        final_amount:
          description: "قیمت نهایی قابل پرداخت توسط مشتری: مبلغ_اصلی - مبلغ_تخفیف\
            \ + مبلغ_مالیات (به تومان)"
          readOnly: true
          title: مبلغ نهایی
          type: integer
        total_paid_amount:
          description: "مبلغ کل پرداخت شده توسط کاربر: مبلغ_نهایی + هزینه_ارسال (ب\
            ه تومان)"
          readOnly: true
          title: مبلغ کل پرداخت شده
          type: integer
        discount_amount:
          description: مبلغ کل تخفیف اعمال شده بر سفارش (به تومان)
          readOnly: true
          title: مبلغ تخفیف
          type: integer
        tax_amount:
          description: مبلغ کل مالیات برای سفارش (به تومان)
          readOnly: true
          title: مبلغ مالیات
          type: integer
        shipping_amount:
          description: هزینه ارسال برای سفارش (به تومان)
          readOnly: true
          title: هزینه ارسال
          type: integer
        loyalty_amount:
          description: مقدار تخفیف از برنامه باشگاه مشتریان/پاداش (به تومان)
          readOnly: true
          title: مقدار پاداش
          type: integer
        callback_url:
          description: آدرسی برای دریافت اطلاع رسانی وضعیت پرداخت پس از تکمیل سفارش
          format: uri
          readOnly: true
          title: آدرس اطلاع رسانی
          type: string
        merchant:
          $ref: "#/components/schemas/Merchant"
        items:
          items:
            $ref: "#/components/schemas/OrderItemCreate"
          type: array
        source_address:
          readOnly: true
        destination_address:
          readOnly: true
        selected_shipping_method:
          allOf:
          - $ref: "#/components/schemas/ShippingMethod"
          readOnly: true
        shipping_selected_at:
          format: date-time
          nullable: true
          readOnly: true
          title: ارسال انتخاب شده در
          type: string
        address_selected_at:
          format: date-time
          nullable: true
          readOnly: true
          title: آدرس انتخاب شده در
          type: string
        packing_amount:
          description: هزینه روش بسته‌بندی انتخاب‌شده (به تومان)
          readOnly: true
          title: مقدار بسته بندی
          type: integer
        packing_selected_at:
          format: date-time
          nullable: true
          readOnly: true
          title: بسته بندی انتخاب شده در
          type: string
        selected_packing:
          allOf:
          - $ref: "#/components/schemas/Packing"
          readOnly: true
        can_select_packing:
          readOnly: true
          type: boolean
        can_select_shipping:
          readOnly: true
          type: boolean
        can_select_address:
          readOnly: true
          type: boolean
        can_proceed_to_payment:
          readOnly: true
          type: boolean
        is_paid:
          readOnly: true
          type: boolean
        user:
          allOf:
          - $ref: "#/components/schemas/OrderUser"
          readOnly: true
        payment:
          allOf:
          - $ref: "#/components/schemas/PaymentOrder"
          readOnly: true
        preparation_time:
          description: Preparation time for the order (in days)
          readOnly: true
          type: integer
        weight:
          description: Total weight of the order (in grams)
          format: double
          readOnly: true
          title: وزن
          type: number
        selected_shipping_data:
          additionalProperties: {}
          readOnly: true
          type: object
        reference_code:
          description: "کد مرجع یکتا برای پیگیری سفارش مشتری (قالب: BD-XXXXXXXX)"
          readOnly: true
          title: کد مرجع
          type: string
        promotion_discount_amount:
          format: double
          readOnly: true
          type: number
        promotion_data:
          additionalProperties: {}
          readOnly: true
          type: object
        digipay_markup_amount:
          description: Markup amount for the order (in Tomans)
          readOnly: true
          type: integer
        markup_commission_percentage:
          description: Markup commission percentage for the order (in percent)
          readOnly: true
          type: integer
        previous_status:
          allOf:
          - $ref: "#/components/schemas/OrderStatusEnum"
          nullable: true
          readOnly: true
        previous_status_display:
          readOnly: true
          type: string
      required:
      - address_selected_at
      - callback_url
      - can_proceed_to_payment
      - can_select_address
      - can_select_packing
      - can_select_shipping
      - created_at
      - destination_address
      - digipay_markup_amount
      - discount_amount
      - final_amount
      - id
      - is_paid
      - items
      - loyalty_amount
      - main_amount
      - markup_commission_percentage
      - merchant
      - merchant_order_id
      - order_uuid
      - packing_amount
      - packing_selected_at
      - payment
      - preparation_time
      - previous_status
      - previous_status_display
      - promotion_data
      - promotion_discount_amount
      - reference_code
      - reservation_expired_at
      - selected_packing
      - selected_shipping_data
      - selected_shipping_method
      - shipping_amount
      - shipping_selected_at
      - source_address
      - status
      - status_display
      - tax_amount
      - total_paid_amount
      - user
      - weight
      type: object
    OrderItemCreate:
      example:
        tax_amount: 1586191969
        amount: 776546568
        image_link: https://openapi-generator.tech
        primary_amount: 1997469940
        discount_amount: 890262545
        name: name
        count: 6642
        options:
        - type_name: ""
          is_color: false
          name: name
          value: value
        - type_name: ""
          is_color: false
          name: name
          value: value
        preparation_time: 0
        weight: 0.10246457001441578
      properties:
        name:
          description: نام کامل محصول شامل تمام مشخصات
          maxLength: 128
          title: نام کالا
          type: string
        primary_amount:
          description: قیمت اولیه برای هر واحد بدون تخفیف (به تومان)
          maximum: 2147483647
          minimum: 0
          title: قیمت واحد
          type: integer
        amount:
          description: قیمت نهایی برای تمام واحدها بعد از تخفیف (به تومان)
          maximum: 2147483647
          minimum: 0
          title: مجموع قیمت کالا
          type: integer
        count:
          description: تعداد واحدهای این کالا در سفارش
          maximum: 32767
          minimum: 0
          title: تعداد
          type: integer
        discount_amount:
          description: مبلغ کل تخفیف برای این کالا (به تومان)
          maximum: 2147483647
          minimum: 0
          title: مبلغ تخفیف
          type: integer
        tax_amount:
          description: مبلغ کل مالیات برای این کالا (به تومان)
          maximum: 2147483647
          minimum: 0
          title: مبلغ مالیات
          type: integer
        image_link:
          description: آدرس تصویر محصول
          format: uri
          maxLength: 500
          nullable: true
          title: لینک تصویر
          type: string
        options:
          items:
            $ref: "#/components/schemas/Option"
          type: array
        preparation_time:
          default: 2
          description: Preparation time for the item (in days)
          minimum: 0
          type: integer
        weight:
          description: Weight of the item (in grams)
          format: double
          minimum: 0
          title: وزن
          type: number
      required:
      - count
      - name
      - options
      type: object
    OrderStatusEnum:
      description: |-
        * `1` - اولیه
        * `2` - شروع شده
        * `3` - در انتظار
        * `4` - در انتظار درگاه
        * `5` - منقضی شده
        * `6` - لغو شده
        * `7` - پرداخت‌شده توسط کاربر
        * `8` - پرداخت موفیت آمیز نبود
        * `9` - تأیید شده توسط فروشگاه
        * `10` - تأیید توسط فروشگاه ناموفق بود
        * `11` - ناموفق از سوی فروشگاه
        * `12` - لغوشده توسط فروشگاه
        * `13` - درخواست بازگشت وجه به مشتری به دلیل درخواست مشتری
        * `14` - درخواست بازگشت وجه به فروشگاه پس از عدم تأیید توسط فروشگاه
        * `15` - درخواست بازگشت وجه به مشتری پس از ناموفق بودن توسط فروشگاه
        * `16` - بازپرداخت به فروشگاه پس از لغو توسط فروشگاه
        * `17` - بازپرداخت تکمیل شد
        * `18` - زمان انقضا گذشته است
        * `19` - تحویل شده
        * `20` - جمع اوری شده و در حال ارسال
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      type: integer
    OrderUser:
      properties:
        first_name:
          maxLength: 150
          title: نام
          type: string
        last_name:
          maxLength: 150
          title: نام خانوادگی
          type: string
        phone_number:
          maxLength: 128
          title: شماره تلفن
          type: string
        national_identity_number:
          maxLength: 10
          nullable: true
          title: شماره شناسنامه
          type: string
        birth_date:
          format: date
          nullable: true
          title: تاریخ تولد
          type: string
      type: object
    Packing:
      properties:
        id:
          readOnly: true
          type: integer
        name:
          description: نام روش/گزینه بسته‌بندی
          maxLength: 64
          title: نام
          type: string
        price:
          description: هزینه بسته بندی به تومان
          maximum: 2147483647
          minimum: 0
          title: قیمت
          type: integer
      required:
      - id
      - name
      type: object
    PaginatedMerchantPaidOrderListList:
      example:
        next: http://api.example.org/accounts/?cursor=cD00ODY%3D"
        previous: http://api.example.org/accounts/?cursor=cj0xJnA9NDg3
        results:
        - paid_at: 2000-01-23T04:56:07.000+00:00
          merchant_unique_id: merchant_unique_id
          merchant_order_id: merchant_order_id
          refunds_at: 2000-01-23T04:56:07.000+00:00
          order_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - paid_at: 2000-01-23T04:56:07.000+00:00
          merchant_unique_id: merchant_unique_id
          merchant_order_id: merchant_order_id
          refunds_at: 2000-01-23T04:56:07.000+00:00
          order_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        next:
          example: http://api.example.org/accounts/?cursor=cD00ODY%3D"
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?cursor=cj0xJnA9NDg3
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: "#/components/schemas/MerchantPaidOrderList"
          type: array
      required:
      - results
      type: object
    PaginatedOrderDetailList:
      example:
        next: http://api.example.org/accounts/?cursor=cD00ODY%3D"
        previous: http://api.example.org/accounts/?cursor=cj0xJnA9NDg3
        results:
        - tax_amount: 7
          status_display: status_display
          total_paid_amount: 5
          digipay_markup_amount: 1
          promotion_discount_amount: 1.2315135367772556
          discount_amount: 2
          created_at: 2000-01-23T04:56:07.000+00:00
          can_select_packing: true
          packing_selected_at: 2000-01-23T04:56:07.000+00:00
          selected_shipping_data:
            key: ""
          selected_shipping_method: ""
          callback_url: https://openapi-generator.tech
          source_address: ""
          can_proceed_to_payment: true
          markup_commission_percentage: 1
          preparation_time: 4
          reference_code: reference_code
          order_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payment: ""
          id: 0
          is_paid: true
          selected_packing: ""
          previous_status: ""
          previous_status_display: previous_status_display
          merchant_order_id: merchant_order_id
          destination_address: ""
          reservation_expired_at: 6
          loyalty_amount: 3
          merchant:
            domain: https://openapi-generator.tech
            name: name
            logo: https://openapi-generator.tech
          weight: 7.386281948385884
          can_select_shipping: true
          main_amount: 1
          packing_amount: 2
          shipping_amount: 9
          shipping_selected_at: 2000-01-23T04:56:07.000+00:00
          can_select_address: true
          address_selected_at: 2000-01-23T04:56:07.000+00:00
          promotion_data:
            key: ""
          final_amount: 5
          items:
          - tax_amount: 1586191969
            amount: 776546568
            image_link: https://openapi-generator.tech
            primary_amount: 1997469940
            discount_amount: 890262545
            name: name
            count: 6642
            options:
            - type_name: ""
              is_color: false
              name: name
              value: value
            - type_name: ""
              is_color: false
              name: name
              value: value
            preparation_time: 0
            weight: 0.10246457001441578
          - tax_amount: 1586191969
            amount: 776546568
            image_link: https://openapi-generator.tech
            primary_amount: 1997469940
            discount_amount: 890262545
            name: name
            count: 6642
            options:
            - type_name: ""
              is_color: false
              name: name
              value: value
            - type_name: ""
              is_color: false
              name: name
              value: value
            preparation_time: 0
            weight: 0.10246457001441578
          user: ""
          status: ""
        - tax_amount: 7
          status_display: status_display
          total_paid_amount: 5
          digipay_markup_amount: 1
          promotion_discount_amount: 1.2315135367772556
          discount_amount: 2
          created_at: 2000-01-23T04:56:07.000+00:00
          can_select_packing: true
          packing_selected_at: 2000-01-23T04:56:07.000+00:00
          selected_shipping_data:
            key: ""
          selected_shipping_method: ""
          callback_url: https://openapi-generator.tech
          source_address: ""
          can_proceed_to_payment: true
          markup_commission_percentage: 1
          preparation_time: 4
          reference_code: reference_code
          order_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payment: ""
          id: 0
          is_paid: true
          selected_packing: ""
          previous_status: ""
          previous_status_display: previous_status_display
          merchant_order_id: merchant_order_id
          destination_address: ""
          reservation_expired_at: 6
          loyalty_amount: 3
          merchant:
            domain: https://openapi-generator.tech
            name: name
            logo: https://openapi-generator.tech
          weight: 7.386281948385884
          can_select_shipping: true
          main_amount: 1
          packing_amount: 2
          shipping_amount: 9
          shipping_selected_at: 2000-01-23T04:56:07.000+00:00
          can_select_address: true
          address_selected_at: 2000-01-23T04:56:07.000+00:00
          promotion_data:
            key: ""
          final_amount: 5
          items:
          - tax_amount: 1586191969
            amount: 776546568
            image_link: https://openapi-generator.tech
            primary_amount: 1997469940
            discount_amount: 890262545
            name: name
            count: 6642
            options:
            - type_name: ""
              is_color: false
              name: name
              value: value
            - type_name: ""
              is_color: false
              name: name
              value: value
            preparation_time: 0
            weight: 0.10246457001441578
          - tax_amount: 1586191969
            amount: 776546568
            image_link: https://openapi-generator.tech
            primary_amount: 1997469940
            discount_amount: 890262545
            name: name
            count: 6642
            options:
            - type_name: ""
              is_color: false
              name: name
              value: value
            - type_name: ""
              is_color: false
              name: name
              value: value
            preparation_time: 0
            weight: 0.10246457001441578
          user: ""
          status: ""
      properties:
        next:
          example: http://api.example.org/accounts/?cursor=cD00ODY%3D"
          format: uri
          nullable: true
          type: string
        previous:
          example: http://api.example.org/accounts/?cursor=cj0xJnA9NDg3
          format: uri
          nullable: true
          type: string
        results:
          items:
            $ref: "#/components/schemas/OrderDetail"
          type: array
      required:
      - results
      type: object
    PaymentOrder:
      properties:
        final_amount:
          readOnly: true
          title: مبلغ نهایی
          type: integer
        gateway_type:
          allOf:
          - $ref: "#/components/schemas/GatewayTypeEnum"
          readOnly: true
        gateway_type_display:
          readOnly: true
          type: string
        paid_at:
          readOnly: true
          type: string
        gateway_name:
          nullable: true
          readOnly: true
          title: نام درگاه
          type: string
        invoice_id:
          nullable: true
          readOnly: true
          title: شناسه فاکتور
          type: string
        settlement_date:
          readOnly: true
          type: string
        settlement_status:
          readOnly: true
          type: integer
        settlement_status_display:
          readOnly: true
          type: string
      required:
      - final_amount
      - gateway_name
      - gateway_type
      - gateway_type_display
      - invoice_id
      - paid_at
      - settlement_date
      - settlement_status
      - settlement_status_display
      type: object
    RefundOrder:
      description: Serializer for refunding an order.
      example:
        reason: reason
      properties:
        reason:
          description: Optional reason for the refund
          maxLength: 500
          type: string
      type: object
    ReviveShipment:
      example:
        preparation_time: 0
      properties:
        preparation_time:
          description: The preparation time for the order in days.
          minimum: 0
          nullable: true
          type: integer
      type: object
    ShippingMethod:
      description: Serializer for shipping method details.
      properties:
        id:
          readOnly: true
          type: integer
        name:
          description: نام روش ارسال
          maxLength: 64
          title: نام
          type: string
        description:
          description: توضیحات روش ارسال و جزئیات تحویل آن
          title: توضیحات
          type: string
        shipping_type:
          allOf:
          - $ref: "#/components/schemas/ShippingTypeEnum"
          description: |-
            نوع روش ارسال: عادی یا دیجی اکسپرس

            * `1` - سایر
            * `2` - دیجی اکسپرس
          maximum: 32767
          minimum: 0
          title: نوع ارسال
        get_shipping_type_display:
          readOnly: true
          type: string
        shipping_type_display:
          readOnly: true
          type: string
        cost:
          description: هزینه ارسال برای منطقه اولیه (مثلاً تهران) به تومان
          maximum: 2147483647
          minimum: 0
          title: هزینه اولیه
          type: integer
        secondary_cost:
          description: هزینه ارسال برای مناطق دیگر به تومان
          maximum: 2147483647
          minimum: 0
          title: هزینه ثانویه
          type: integer
        minimum_time_sending:
          description: حداقل تعداد روزها از تاریخ سفارش تا تحویل
          maximum: 32767
          minimum: 0
          title: حداقل روزهای تحویل
          type: integer
        maximum_time_sending:
          description: حداکثر تعداد روزها از تاریخ سفارش تا تحویل
          maximum: 32767
          minimum: 0
          title: حداکثر روزهای تحویل
          type: integer
        delivery_time_display:
          readOnly: true
          type: string
        delivery_time_range_display:
          allOf:
          - $ref: "#/components/schemas/DeliveryTimeRangeDisplay"
          readOnly: true
        inventory_address:
          allOf:
          - $ref: "#/components/schemas/BusinessAddress"
          readOnly: true
        is_pay_at_destination:
          description: Whether the shipping method is pay at destination
          type: boolean
      required:
      - delivery_time_display
      - delivery_time_range_display
      - get_shipping_type_display
      - id
      - inventory_address
      - name
      - shipping_type_display
      type: object
    ShippingTypeEnum:
      description: |-
        * `1` - سایر
        * `2` - دیجی اکسپرس
      enum:
      - 1
      - 2
      type: integer
    TypeNameEnum:
      description: |-
        * `color` - رنگ
        * `size` - اندازه
        * `warranty` - گارانتی
        * `weight` - وزن
        * `other` - سایر
      enum:
      - color
      - size
      - warranty
      - weight
      - other
      type: string
    UpdateOrderStatus:
      example:
        status: ""
      properties:
        status:
          allOf:
          - $ref: "#/components/schemas/OrderStatusEnum"
          description: |-
            Status to update the order to

            * `1` - اولیه
            * `2` - شروع شده
            * `3` - در انتظار
            * `4` - در انتظار درگاه
            * `5` - منقضی شده
            * `6` - لغو شده
            * `7` - پرداخت‌شده توسط کاربر
            * `8` - پرداخت موفیت آمیز نبود
            * `9` - تأیید شده توسط فروشگاه
            * `10` - تأیید توسط فروشگاه ناموفق بود
            * `11` - ناموفق از سوی فروشگاه
            * `12` - لغوشده توسط فروشگاه
            * `13` - درخواست بازگشت وجه به مشتری به دلیل درخواست مشتری
            * `14` - درخواست بازگشت وجه به فروشگاه پس از عدم تأیید توسط فروشگاه
            * `15` - درخواست بازگشت وجه به مشتری پس از ناموفق بودن توسط فروشگاه
            * `16` - بازپرداخت به فروشگاه پس از لغو توسط فروشگاه
            * `17` - بازپرداخت تکمیل شد
            * `18` - زمان انقضا گذشته است
            * `19` - تحویل شده
            * `20` - جمع اوری شده و در حال ارسال
      required:
      - status
      type: object
    VerifyOrder:
      example:
        merchant_unique_id: merchant_unique_id
      properties:
        merchant_unique_id:
          description: شناسه منحصر به فرد ارسال شده هنگام ساخت سفارش برای تأیید اصالت
            سفارش
          type: string
      required:
      - merchant_unique_id
      type: object
    WalletBalance:
      example:
        amount: -1803530559
        negative_settlement_deadline: negative_settlement_deadline
      properties:
        amount:
          description: Current wallet balance in Tomans
          maximum: 2147483647
          minimum: -2147483648
          title: مقدار
          type: integer
        negative_settlement_deadline:
          description: Deadline for settling negative balance
          nullable: true
          readOnly: true
          type: string
      required:
      - negative_settlement_deadline
      type: object
    _OrderError:
      example:
        error: User is not authenticated.
      properties:
        error:
          $ref: "#/components/schemas/ErrorEnum"
      required:
      - error
      type: object
  securitySchemes:
    MerchantAPIKeyAuth:
      description: Token-based authentication with required prefix "Api-Key"
      in: header
      name: Authorization
      type: apiKey
